* {
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333;
    background-color: #eee;
    opacity: 0.97;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    display: inline-block;
    width: 100%;
}
h1 {
    text-align: center;
}
#flag-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
}

#back-btn {
    background:hsl(0, 93%, 24%);
    color:white;
    padding: 10px 40px;
    border-radius: 0 5px 5px 0;
    border: 0 none;
    font-weight: bold;
}
#back-btn:hover {
    background: #f49b42;
    cursor: pointer;
}
#info-container p {
    font-weight: 600;
}
#info-container p span {
    font-weight: normal;
}
.spaces1 {
    padding: 1cm;
}
.spaces2 {
    padding: 0.5cm;
}
footer {
    width: 100%;
}
#eventsTable, #headerTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
#eventsTable td, #headerTable th {
    border: 1px solid #ddd;
}
#headerTable th {
    background-color: #213759;
    color: white;
}
#eventsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
#eventsTable tr:hover { 
    background-color: #ddd;
}
.scroll {
    max-height: 500px;
    overflow: auto;
}